body {
	background-color: rgba(0,0,0,.9);
	font-family: 'Orbitron', sans-serif;
 }

#main-header {
	text-align: center;
	font-size: 80px;
	letter-spacing: 9px;
	color: white;
	text-shadow: 10px 10px 20px rgba(255, 0, 0, 0.7); 
}

#main-header-container {
	background-color: rgba(0,0,0,.8);
}

#wrapper {
	font-weight: bolder;
}

.robot-input {
   font-size: 30px;
}

.input-header {
   font-size: 50px;
   letter-spacing: 2px;
   color: tomato;
   text-shadow: 2px 5px 10px rgba(255, 0, 0, 0.7); 
   padding-top: 6%;
   padding-bottom: 6%;
}

.button-wrapper {
   padding-top: 6%;
   padding-bottom: 6%;
}

.class-button-group {
	font-size: 50px;
	width:400px;
 }

 .robot-types {
 	font-size: 40px;
 	width: 400px;
 }

.type-row {
	margin-left:6.2%;
	margin-right: 8%;
}
